{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_confirmed == False %}
<div class="alert alert-warning">
    <h4>Henüz hesabın onaylanmadığı için içerikleri göremiyorsun, Fatih komutanı bir dürt, seni onasın</h4>
</div>
{% endif %}

{% if user.is_confirmed == True %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Gonderiler</h2>

        <form method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="q" placeholder="Gönderi ara..." value="{{ query }}">
                <br>
                <button class="btn btn-outline-secondary" type="submit">Ara</button>
            </div>
            <br>
        </form>
        <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item list-group-item-{% if post.post_type == 'Teori' %}warning{% elif post.post_type == 'Arıza Çözüm' %}success{% elif post.post_type == 'İşlem' %}info{% endif %}">
                <a href="{% url 'post_detail' post.pk %}">{{ post.title }} <br> <span style="font-size:1rem">{{ post.recipient_type }} </span>  <br> <span style="font-style:italic; font-size:1rem">by {{ post.sender.isim }} {{ post.sender.soyisim }} </span> </a>
            </li>
            {% empty %}
            <li class="list-group-item">Bulunamadı :(</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endif %}
{% endblock %}